@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


#error-income,
#error-food,
#error-rent,
#error-clothes,
#error-expense,
#error-save,
#error-bal,
#error-notsave{
	color: red;
}


html{
	font-family: Poppins, sans-serif;
}

body{
	background-image: linear-gradient(to bottom, rgba(33, 225, 176, 1.0), rgba(33, 225, 176, 0.3));
}

header{
	text-align: center;
}
h1{
	font-weight: 500;
}
h3{
	text-align: center;
	font-size: 1.5rem;
	font-weight: 500;
}
.income{
	margin: auto;
	width: 50%;
	padding: 10px;
	text-align: center;
}

.food,
.rent,
.clothes{
	margin: 5px auto;
	width: 50%;
	padding: 10px;
	text-align: center;
}
.cal-btn{
	display: block;
	width: 30%;
	height: 2rem;
	border: none;
	font-size: 1rem;
	margin: auto;
}
.output-expense{
	width: 50%;
	margin: auto;
}

.saving-input{
	width: 50%;
	margin: auto;
	display: flex;
	justify-content: space-between;
}

.output-save{
	width: 50%;
	margin: auto;
}

footer{
	font-size: .75rem;
	width: 50%;
	margin: 10px auto;
	text-align: center;
}

input{
	width: 50%;
	border: none;
}